<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
<h1>User List</h1>
<div>
    <table th:border="1" th:cellpadding="5">

        <tr>
            <th>Id</th>
            <th>Age</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Operations</th>
        </tr>
        <tr th:each ="user : ${allUsers}">
            <td th:utext="${user.getId}">...</td>
            <td th:utext="${user.getAge}">...</td>
            <td th:utext="${user.getName}">...</td>
            <td th:utext="${user.getSurname}">...</td>
            <td th:utext="${user.getEmail}">...</td>
            <td th:utext="${user.getRoles}">...</td>
            <td>
<!--                <label>-->
<!--                    <a th:href="@{/admin/users/edit(userId=${user.getId})}">-->
<!--                        <input th:type="button" value="Edit" />-->
<!--                    </a>-->
<!--                </label>-->
                <form th:action="@{users/edit}">
                    <input type="hidden" name="userId" th:value="${user.getId}">
                    <button type="submit">Edit</button>
                    <br><br>
                </form>

<!--                <label>-->
<!--                    <a th:href="@{users/delete(userId=${user.getId})}">-->
<!--                        <input th:type="button" value="Delete" />-->
<!--                    </a>-->
<!--                </label>-->

                <form th:action="@{users/delete}">
                    <input type="hidden" name="userId" th:value="${user.getId}">
                    <button type="submit">Delete</button>
                </form>
            </td>

        </tr>
    </table>
    <br/>
    <input type="button" value="Add"  onclick="window.location.href='/admin/users/new'"/>
</div>
</body>
</html>